<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
    package="de.boomboxbeilstein.android"
    a:versionCode="1"
    a:versionName="1.0" >

    <uses-sdk a:minSdkVersion="8" />

    <uses-permission a:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission a:name="android.permission.VIBRATE" >
    </uses-permission>

    <application
        a:icon="@drawable/icon"
        a:label="@string/app_name"
        a:theme="@android:style/Theme.NoTitleBar" >
        <activity
            a:name=".BoomBoxBeilsteinAppActivity"
            a:label="@string/app_name" >
        </activity>

        <service a:name="de.boomboxbeilstein.android.BBService" >
        </service>

        <activity a:name="de.boomboxbeilstein.android.MainActivity" >
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />

                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>